/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Heading */
h1 {
    color: #4fa8ff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Paragraph */
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Links */
a {
    color: #d45206;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

a:hover {
    color: #ff8c00;
}
